<%-include('header')%>
<form action="/" method="POST">
    <input type="text" name="title" placeholder="Add title " size="40"> <br>
    <textarea type="text" name="blog" placeholder="Add text" rows="10" cols="50"></textarea>
    <button>ADD</button>

</form>


<%-include('footer')%>